@import 'primeicons/primeicons.css';
@import "primereact/resources/themes/lara-light-cyan/theme.css";
@import 'bootstrap/dist/css/bootstrap-grid.min.css';
@import 'bootstrap/dist/css/bootstrap-utilities.min.css';

@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'assets/css/theme.scss';

::root {
  
}

.layout {
  display: flex;
  flex-direction: row;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.error-message {
  color: $red;
  padding: 1rem;
  text-align: center;
}

.empty-message {
  color: #6c757d;
  padding: 1rem;
  text-align: center;
}